<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Edit Post')"></head>

<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('Edit Post')"></header>

<div class="container text-center">
    <form th:action="@{'/posts/' +${post.id} + '/edit'}" th:method="POST" th:object="${post}">
        <div class="form-group">
            <label for="title">Post Title</label>
            <input th:field="*{title}" type="text" class="form-control" aria-describedby="postTitleHelp">
        </div>
        <div class="form-group">
            <label for="body">Post Body</label>
            <input th:field="*{body}" type="text" class="form-control" aria-describedby="postBodyHelp">
        </div>
        <button type="submit" th:name="submitBtn" class="btn btn-success">Update Post</button>
    </form>
    <form th:action="@{|/posts/${post.id}/delete|}" th:method="POST">
        <button type="submit" th:id="${post.id}" th:name="deleteEditBtn" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
    </form>
</div>

<footer th:replace="partials/partials :: footer"></footer>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>