<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Edit Post')"></head>

<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('Edit Post')"></header>

<div class="container text-center">
    <form th:action="@{/posts/{id}/edit(id=${post.id})}" th:method="POST">
        <input name="postId" type="hidden">
        <div class="form-group">
            <label for="postTitle">Post Title</label>
            <input name="title" type="text" class="form-control" id="postTitle" aria-describedby="postTitleHelp" th:value="${post.title}">
        </div>
        <div class="form-group">
            <label for="postBody">Post Body</label>
            <input name = "body" type="text" class="form-control" id="postBody" th:value="${post.body}">
        </div>
        <button type="submit" th:name="submitBtn" class="btn btn-success">Submit</button>
    </form>
    <form th:action="@{/posts/{id}/delete(id=${post.getId()})}" th:method="POST">
        <button type="submit" th:name="deleteEditBtn" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
    </form>

</div>

<footer th:replace="partials/partials :: footer"></footer>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>