<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('New Post')"></head>

<body>
    <nav th:replace="partials/navbar :: nav"></nav>
    <header th:replace="partials/header :: header('New Post')"></header>

    <div class="container text-center">
        <form th:action="@{/posts/create}" th:method="POST">
            <input name="postId" type="hidden">
            <div class="form-group">
                <label for="postTitle">Post Title</label>
                <input name="title" type="text" class="form-control" id="postTitle" aria-describedby="postTitleHelp"
                       placeholder="Enter title">
            </div>
            <div class="form-group">
                <label for="postBody">Post Body</label>
                <input name = "body" type="text" class="form-control" id="postBody" placeholder="Enter body">
            </div>
            <button type="submit" th:name="submitBtn" class="btn btn-primary">Submit</button>
        </form>

    </div>

    <footer th:replace="partials/partials :: footer"></footer>
    <th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>