<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Rolling Dice')">
    <title>Rolling Dice</title>
</head>
<body>
    <nav th:replace="partials/navbar :: nav"></nav>
    <header th:replace="partials/header :: header('Roll the Dice!!')"></header>
<div class="container text-center">
    <h1>Can you guess the how the dice will roll?</h1>

    <hr>

    |
    <a th:href="@{/roll-dice/1}">Guess 1</a> |
    <a th:href="@{/roll-dice/2}">Guess 2</a> |
    <a th:href="@{/roll-dice/3}">Guess 3</a> |
    <a th:href="@{/roll-dice/4}">Guess 4</a> |
    <a th:href="@{/roll-dice/5}">Guess 5</a> |
    <a th:href="@{/roll-dice/6}">Guess 6</a> |

    <hr>

<!--    <form action="/roll-dice" method="post">-->
<!--        <div th:each="option : ${buttonOptions}">-->
<!--            <button th:text="${option}" name="option" th:value="${option}" th:class="btn btn-outline-info"></button>-->
<!--        </div>-->
<!--    </form>-->

    <hr>
        <button type="button" class="btn btn-outline-info" th:id="btn1" th:name="btn1" th:value="1">1</button>
        <button type="button" class="btn btn-outline-info" th:id="btn2" th:name="btn2" th:value="2">2</button>
        <button type="button" class="btn btn-outline-info" th:id="btn3" th:name="btn3" th:value="3">3</button>
        <button type="button" class="btn btn-outline-info" th:id="btn4" th:name="btn4" th:value="4">4</button>
        <button type="button" class="btn btn-outline-info" th:id="btn5" th:name="btn5" th:value="5">5</button>
        <button type="button" class="btn btn-outline-info" th:id="btn6" th:name="btn6" th:value="6">6</button>

<!--        <input th:type="submit" th:class="btn btn-outline-info" th:name="btn1" th:value="1" />-->

    <hr>

    <div th:if="${userGuess}">
        Your guess was <span th:text="${userGuess}"></span> .<br>
        The rolled numbers is: <span th:text="${randomNumber}"></span> .
    </div>

    <hr>

    <div th:if="${isCorrectGuess}">
        <h1>Correct Guess!</h1>
        <iframe src="https://giphy.com/embed/3otPoS81loriI9sO8o" width="480" height="270" frameBorder="0"
                class="giphy-embed" allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/filmeditor-will-ferrell-elf-3otPoS81loriI9sO8o">via GIPHY</a></p>
    </div>
    <div th:if="${isCorrectGuess != null && !isCorrectGuess}">
        <h1>Sorry! You guessed wrong...</h1>
        <iframe src="https://giphy.com/embed/4OJFCEeGzYGs0" width="480" height="313" frameBorder="0" class="giphy-embed"
                allowFullScreen></iframe>
        <p><a href="https://giphy.com/gifs/wrong-err-4OJFCEeGzYGs0">via GIPHY</a></p>
    </div>
</div>
<hr>
    <footer th:replace="partials/footer :: footer"></footer>
    <th:block th:include="partials/scripts :: scripts"></th:block>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var user = 'user';
        console.log("Hello there :D");
        // let btn1 = document.querySelector("#btn1");
        // btn1.addEventListener("click", function(e){
        //     console.log("Btn1 clicked");
        //     document.location = /*[[@{/roll-dice/1}]]*/"";
        // });
        //
        // let btn2 = document.querySelector("#btn2");
        // btn2.addEventListener("click", function(e){
        //     console.log("Btn2 clicked");
        //     document.location = /*[[@{/roll-dice/2}]]*/"";
        // });
        //
        // let btn3 = document.querySelector("#btn3");
        // btn3.addEventListener("click", function(e){
        //     console.log("Btn3 clicked");
        //     document.location = /*[[@{/roll-dice/3}]]*/"";
        // });
        //
        // let btn4 = document.querySelector("#btn4");
        // btn4.addEventListener("click", function(e){
        //     console.log("Btn4 clicked");
        //     document.location = /*[[@{/roll-dice/4}]]*/"";
        // });
        //
        // let btn5 = document.querySelector("#btn5");
        // btn5.addEventListener("click", function(e){
        //     console.log("Btn5 clicked");
        //     document.location = /*[[@{/roll-dice/5}]]*/"";
        // });
        //
        // let btn6 = document.querySelector("#btn6");
        // btn6.addEventListener("click", function(e){
        //     console.log("Btn6 clicked");
        //     document.location = /*[[@{/roll-dice/6}]]*/"";
        // });

        for (let i = 1; i <= 6; i++){
            document.querySelector("#btn"+i).addEventListener("click", function(e){
                console.log("btn" + i + " has been clicked");
                if(i === 1){
                    document.location = /*[[@{/roll-dice/1}]]*/"";
                }else if(i === 2){
                    document.location = /*[[@{/roll-dice/2}]]*/"";
                } else if(i === 3){
                    document.location = /*[[@{/roll-dice/3}]]*/"";
                } else if(i === 4){
                    document.location = /*[[@{/roll-dice/4}]]*/"";
                } else if(i === 5){
                    document.location = /*[[@{/roll-dice/5}]]*/"";
                } else if(i === 6){
                    document.location = /*[[@{/roll-dice/6}]]*/"";
                }
            });
        }


        /*]]>*/
    </script>

</body>
</html>